body {
    background-color: black;
}

h1 {
    color:rgb(255, 0, 0);
}

#trackOne {
    color: rgb(255, 252, 46);
    margin: 10px;
}
#trackTwo {
    color: rgb(255, 10, 255);
    margin: 10px;
}

@media screen and (min-width: 481px) {
    img {
        display: flex;
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 480px) {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

#message {
    color:rgb(11, 251, 255);
    display: flex;
    flex-wrap: wrap;
}

button {
    border-color: greenyellow;
}

#roll {
    color: orange;
    background-color: blue;
    font-weight: 700;
    padding: 5px;
}

#reset {
    color: rgb(252, 52, 132);
    background-color: burlywood;
    font-weight: 700;
    padding: 5px;
}