#trackOne {
    color: royalblue;
    margin: 10px;
}
#trackTwo {
    color: magenta;
    margin: 10px;
}

img {
    display: flex;
    width: 75%;
    height: 75%;
}

#message {
    display: flex;
    flex-wrap: wrap;
}